//colors
$first-white-color: #ffffff;
$sec-white-color: #ffffffc9;
$first-black-color: #00000000;
$sec-black-color: #1a1818;
$first-grey-color: #3c3c3c;
$sec-grey-color: #3c3c3c26;
$thr-grey-color: #707070;
$fourth-grey-color: #f0f1f1;
$fifth-grey-color: #737373;
$brown-color: #5e5322;
$yellow-color: #fad648;
